.todolist {
  box-sizing: border-box;
  width: 300px;
  padding: 10px;
  text-align: center;
  background: rgba(208, 230, 245, 0.377);
  border-radius: 5px;

  &-title {
    text-align: left;
  }

  &-top {
    display: flex;
  }

  &-main {
    &-title {
      text-align: left;

      &:nth-child(1) {
        margin-top: 10px;
      }
    }

    &-item {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      height: 30px;
      margin-bottom: 8px;
      padding: 5px;
      color: #40a9ff;
      line-height: 20px;
      text-align: left;
      background-color: #fff;
    }
  }
}
