.flex-base {
  display: flex;
  justify-content: flex-start;
  color: #666;
  font-size: 14px;

  &:last-child &::after {
    display: none;
  }

  .content {
    position: relative;
    flex: 1;
    padding-bottom: 10px;
    text-align: left;
    word-wrap: break-word;

    &::after {
      position: absolute;
      top: 10px;
      left: -15px;
      width: 1px;
      height: calc(100% - 10px);
      background: #c4c4c4;
      content: "";
    }
  }

  .label {
    width: 200px;
    text-align: right;
    word-wrap: break-word;
  }

  .dot-wrapper {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    line-height: 10px;

    .dots {
      display: inline-block;
      width: 12px;
      height: 12px;
      color: #fff;
      border-style: solid;
      border-width: 2px;
      border-radius: 50%;
    }
  }
}
