.toggle-wrapper {
  display: flex;
  width: 500px;

  .toggle-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-right: 30px;
    padding: 10px;
    background-color: #0077ff0e;
  }

  .toggle-status {
    flex: 1;
    height: 300px;
    font-size: 40px;
    line-height: 300px;
    text-align: center;
    box-shadow: rgba(169, 169, 169) 0 0 5px;
  }

  .toggle-status-false {
    color: rgb(255, 0, 0);
  }

  .toggle-status-true {
    color: rgb(0, 128, 0);
  }
}
